<div class="row" style="background-image: 
url(../../../../../assets/img/3f65e534f81d40c218340c4cb0c69c5a.jpg)">
    <div class="col-xs-12">
        <img  style="max-width:400px" *ngIf="vg.photo" [src]="vg.photo">

        <h1>{{ vg.title }}</h1>
        <h3>{{ vg.studio }}</h3>

        <h1>{{ vg.title }}</h1>
        <h3>{{ vg.studio }}</h3>

        <h1>{{ vg.title }}</h1>
        <h3>{{ vg.studio }}</h3>

        <h1>{{ vg.title }}</h1>
        <h3>{{ vg.studio }}</h3>

        <h1>{{ vg.title }}</h1>
        <h3>{{ vg.studio }}</h3>

        <h1>{{ vg.title }}</h1>
        <h3>{{ vg.studio }}</h3>

        <h1>{{ vg.title }}</h1>
        <h3>{{ vg.studio }}</h3>

        <button class="btn btn-default" (click) ="onBack()">Retour</button>
    </div>
</div>
